<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Toolkit" version="70.22.11.312" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Calendar" version="70.23.1.5" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Tools" version="70.23.1.5" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="22.2.12" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="22.2.12" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
</packages>